[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/raghava462
[access "refs/for/refs/*"]
	read = group user/raghava462
	push = group user/raghava462
	label-Code-Review = -2..+2 group user/raghava462
	label-Verified = -1..+1 group user/raghava462
	rebase = group user/raghava462
	removeReviewer = group user/raghava462
	submit = group user/raghava462
[access "refs/heads/*"]
	read = group user/raghava462
	create = group user/raghava462
	push = +force group user/raghava462
	pushMerge = group user/raghava462
[access "refs/tags/*"]
	push = group user/raghava462
	push = +force group user/raghava462
